
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    font-size: 24px;
    box-sizing: border-box;
 }html{
     scroll-behavior: smooth;
 }

body{
    font-family: 'Roboto',sans-serif;
   
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*Header section starts here*/
.header{
    width: 100%;
    height: 2vh;
    padding: 1em;
    display: flex;
    align-items: center;
    background-color: darkgrey;
}
.navbar{
    max-width: 968px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #202A44;
    font-weight: bold;
    padding: .5em;
}
.logo strong{
    color: black;
}
.logo strong:hover{
    color: white;

}
.logo:hover{
    color: aliceblue;
    background-color: black;
    border-radius: 10px;
}
#nav-menu{
    display: flex;
    padding-left: 12em;
}
.navList{
    display: flex;
    align-items: center;
    float: right;
    gap: 1.5em;
}
.nav_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    color: black;
    font-weight: normal;
    padding: 8px 25px;
    transition: all .5s ease-in-out;
}
.nav_link:hover{
    color: white;
    background-color: black;
    border-radius: 15px;
}
.nav_icon{
    font-size: 1em;
    display: flex;
    gap: 1.5em;
}
/*Home section starts here*/
.homeSection{
    height: 100vh;
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black
}
.unicons{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: 1em;
}
.unicons:hover{
    cursor: pointer;
}
.mainContent{
    color: white;
    text-align: center;
    padding: 1.5em;
    line-height: 2em;
}
.hireMe{
    background-color: #202A44;
    border: none;
    border-radius: 1em;
    width: 7.5em;
    height: 2.5em;
    cursor: pointer;
    transition: .6s ease;
    margin-top: 1em;
    font-size: .6em;
    color: white;
    text-align: center;
}
.hireMe:hover{
    color: black;
    background-color: white;
    transition: .6s ease-out;
    box-shadow: 0 0 10px white, 0 0 15px white;
}
.scroll{
    font-size: 15px;
    padding: 2em;
}

.mainImg {
    height: 95vh;
    width: 50%;
    background-image: url(/assets/images/img8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15em;
}
.aboutSection{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 2em;
}
hr{
    width: 25%;
    margin-left: 20em;
    height: .3em;
    background-color: #202A44;
}
.heading{
    text-align: center;
    font-size: 2em;
}
.secondimage{
    padding-top: 1em;
    margin-top: 1em;
    display: flex;
}
.secondimage img{
    width: 50%;
    height: 80vh;
    border: .8em solid black;
    border-radius: 8em 0 8em 0;
}
.intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: .8em;
    text-align: center;   
}
.intro h2{
    font-size: 1em;
    margin-bottom: 1em;
}
.intro p{
    font-size: 16px;
    text-align: justify;
}
.cv{
    background-color: #202A44;
    color: white;
    border: none;
    border-radius: 1em;
    width: 8em;
    height: 2em;
    margin-top: 1em;
    text-align: center;
    font-size: 18px;
}
.cv:hover{
    color: black;
    background-color: white;
    cursor:progress;
    transition: .8s ease-in-out;
    box-shadow: 0 0 25px rgb(146, 28, 87), 0 0 25px rgb(189, 39, 114);
}
/*Portfolio section starts here*/
.portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 58, 58);
    color: white;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 25%;
    height: 55vh;
    margin: .8em;
}
/*services section*/
.services{
    display: flex;
    flex-direction: column;
    padding: 2em;
}
.row{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    font-size: 18px;
    border:  1px solid black;
    margin: 1.5em;
    align-items: center;
    text-align: justify;
    padding: 1em;
    border-radius: 15px;
    background: linear-gradient(to top, #202A44 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 10px #202A44;
}
.box img{
    width: 50px;
    height:50px;
    background-color: grey;
}
/*Contacts section starts here*/
.contactme{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(47, 45, 45);
    color: white;
    padding: 1.5em;

}
.contactme h5{
    text-align: center;
    font-style: italic;
    font-size: 18px;
}
.contactinfo{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.locate{
    line-height: 2em;
    color:purple;
}
.locate :hover{
    cursor: grabbing;
}
/* FORM*/
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 1.5em 0;
    background-color: rgb(170, 167, 162);
    border: 1px solid;
    border-radius: .5em;
}
.input{
    padding: .8em;
    margin: 1em;
    width: 70%;
    border: none;
    outline: none;
    font-size: 16px;
}
#msg{
    width: 20%;
    padding: 1em;
    margin: 1.2em;
    border: none;
    font-size: 18px;
    outline: none;
}
.submit{
    width: 8em;
    height: 2em;
    border-radius: .8em;
    border: none;
    background-color: rgb(217, 19, 118);
}
.submit:hover{
    cursor: pointer;
    background-color: white;
    counter-reset: gray;
    box-shadow: 0 0 25px rgb(217, 19, 118);
}
/* THE FOOTER SECTION STARTS HERE*/
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(14, 13, 13);
    color: white;
    font-size: 13px;
    height: 20vh;
    width: 100%;
}
.footer p{
    font-size: 12px;
    font-style: italic;
}
.owner h3{
    font-size: 14px;
}
.pages a{
    font-size: 18px;
    padding: 1em;
    gap: 2em;
    color: white;
}
.handles ul li a {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white;
}
.foot{
    background-color: rgb(14, 13, 13);
}
.foot hr{
    width: 95%;
    margin: 0 1em;
    height: auto;
    color: grey;
}
.foot h5{
    font-size: 12px;
    color: white;
    text-align: center;
}
.up{
   color: white;
   
}
.show-scroll{
    bottom: 1.5em;
}
::-webkit-scrollbar{
    width: .5em;
    background-color: darkgrey;
    border-radius: .8em;
}
::-webkit-scrollbar-thumb{
    background-color: #202A44;
    border-radius: .8em;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(59, 58, 58);
}
/* MEDIA QUERIES*/
/*for small devices*/
@media screen and (max-width: 360px) {
    .header{
        margin-left: 2em;
        margin-right: 2em;
    }
    .nav_menu{
        padding: 1em .75em 2em;
    }
    .navList{
        column-gap: 0;

    }
    .homeSection{
        grid-template-columns: max-content;
        height: 820px;

    }
    .portfolio, .heading{
        font-size: .5em;
    }
    .contactme, .heading{
        font-size: .5em;
    }
     .secondimage img{
            width: 300px;
            height: 175px;
        }
        .intro h2{
            text-align: center;
            font-size: 1.5rem;
        }
        .portfolio{
            align-items: center;
        }
        .gallery img{
            width: 250px;
            height: 150px;
            margin: .8em;
        }

    .services{
        grid-template-columns: max-content;
        justify-content: center;
        font-size: 16px;
    }
    .box h2{
        font-size: 1em;
    }
    .input{
        width: 80%;

    }
    #msg{
        width: 90%;
    }
    .submit{
        width: 50%;
        font-size: 12px;
    }

       
}
 /*for tablet devices*/
@media screen and (max-width:800px){
    .navbar{
        align-items: center;
        font-size: 15px;
    }
        
        .navbar ul{
            flex-wrap: wrap;
            justify-content: center;
        }
        .mainImg{
            width: 350px;
            height: 200px;
        }

        .heading{
            font-size: 3em;
        }
        .secondimage{
            flex-direction: column;
            align-items: center;
        }
        .secondimage img{
            width: 475px;
            height: 380px;
        }
        .intro h2{
            text-align: center;
            padding: 1em;
        }
        .input{
            width: 60px;
        }
        #msg{
            width: 55px;
        }
        .submit{
            width: 20%;
        }
        
        
    }
    @media screen and (max-width:412px){
        .portfolio, .heading{
        font-size: 1.5em;
    }
     .gallery img{
            width: 250px;
            height: 150px;
            margin: .8em;
        }

    .services{
        grid-template-columns: max-content;
        justify-content: center;
        font-size: 16px;
    }
    .box h2{
        font-size: 1em;
    }
    }
    @media screen and (max-width:768px){
       .navbar{
        align-items: center;
        font-size: 15px;
        overflow: auto;
    }
        
        .navbar ul{
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            overflow: auto;
            color: white;
            gap: 0;
        }
        .mainImg{
            width: 400px;
            height: 300px;
        }

        .heading{
            font-size: 3em;
        }
        .secondimage{
            flex-direction: column;
            align-items: center;
        }
        .secondimage img{
            width: 475px;
            height: 380px;
        }
        .intro h2{
            text-align: center;
            padding: 1em;
        }
        .gallery img{
             width: 280px;
            height: 150px;
            margin: .8em;
        }
        .box h2{
        font-size: 1em;
        }
        .input{
            width: 60px;
        }
        #msg{
            width: 55px;
        }
        .submit{
            width: 20%;
        }
    }